#home {
	fullstack-logo {
		padding-top: 30px;
		width: 150px;
		margin: 0 auto;
	}
	#home-img {
		max-width: 50%;
	}
	h1 {
		margin-top: 40px;
		text-align: center;
	}
	.jumbotron {
		background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.7) ),url("/assets/steel1.jpg") no-repeat center center fixed;
		color: white;
		background-size: cover;
		height: 450px;
	}
	.lead {
	    font-weight: 500;
	    margin-top: 55px;
	    letter-spacing: 1px;
	    font-size: 26px;
	}
	.cta-btn {
		width: 250px;
		font-weight: bold;
		background: white;
		border: 0px;
		// border: 1px solid rgba(0,0,0,.125);
		color: #000000;
		font-size: 24px;
		padding: 12px 0px 10px 0px;
		margin: 10px;
		transition: 0.2s;
		box-shadow: 3px 4px 5px 0px rgba(158,156,158,1);
		&:hover {
			background: #000000;
			color: white;
			box-shadow: none;
		}
	}
	@media screen and (max-width: 767px){
		#home-img {
			max-width: 100%;
		}
		.img-container {
			display: none;
		}
	}
}

