<section id="product">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="product-header">{{ productData.productName }}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 offset-lg-1 col-md-12">
				<div class="table-overflow">
					<table class="table product-table">
						<thead>
							<tr>
								<th scope="col" ng-repeat="item in productData.headers"
								style="vertical-align: top;"
								class="bold">
									{{ item }}
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="product in productData.rowData">
							  <td ng-if="productData.headers.indexOf('BBW P/N') > -1">
							  	{{ product['BBW P/N'] }}
							  </td>
							  <td ng-if="productData.headers.indexOf('INSIDE DIA.') > -1">
							  	{{ product['INSIDE DIA.'] }}
							  </td>
							  <td ng-if="productData.headers.indexOf('OUTSIDE DIA.') > -1">
							  	{{ product['OUTSIDE DIA.'] }}
							  </td>
							  <td ng-if="productData.headers.indexOf('WIDTH') > -1">
							  	{{ product['WIDTH'] }}
							  </td>
							  <td ng-if="productData.headers.indexOf('OUTER RING WIDTH') > -1">
							  	{{ product['OUTER RING WIDTH'] }}
							  </td>
							  <td ng-if="productData.headers.indexOf('RBC P/N') > -1">
							  	{{ product['RBC P/N'] }}
							  </td>
							  <td ng-if="productData.headers.indexOf('SKF P/N') > -1">
							  	{{ product['SKF P/N'] }}
							  </td>
							  <td ng-if="productData.headers.indexOf('INSIDE DIAMETER +.1/+.05 mm') > -1">
							  	{{ product['INSIDE DIAMETER +.1/+.05 mm'] }}
							  </td>
							  <td ng-if="productData.headers.indexOf('OUTSIDE DIAMETER +.1/+.05 mm') > -1">
							  	{{ product['OUTSIDE DIAMETER +.1/+.05 mm'] }}
							  </td>
							  <td ng-if="productData.headers.indexOf('LENGTH +.1/-.1 mm') > -1">
							  	{{ product['LENGTH +.1/-.1 mm'] }}
							  </td>
							  <td ng-if="productData.headers.indexOf('INSIDE DIAMETER +.002/+.004') > -1">
							  	{{ product['INSIDE DIAMETER +.002/+.004'] }}
							  </td>
							  <td ng-if="productData.headers.indexOf('OUTSIDE DIAMETER +.002/.004') > -1">
							  	{{ product['OUTSIDE DIAMETER +.002/.004'] }}
							  </td>
							  <td ng-if="productData.headers.indexOf('LENGTH +.004/-.004') > -1">
							  	{{ product['LENGTH +.004/-.004'] }}
							  </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>