#about-us-directive {
	.cardz {
		p {
			font-family: 'Roboto';
			font-size: 18px;
			margin-bottom: 30px;
		}
	}
	.img-container {
		box-shadow: 3px 4px 5px 0px rgba(158,156,158,1);
		background: white;
	}
}