<section id="home">
	<div class="jumbotron jumbotron-fluid">
		<div class="container text-center">
			<img id="home-img" style="margin-top: 45px;" src="assets/logoWithShadow2.png">
			<!-- <h1 class="display-4">Fluid jumbotron</h1> -->
			<p class="lead">THE RIGHT BUSHING - THE RIGHT PRICE</p>
		</div>
	</div>

	<aboutusdirective></aboutusdirective>

	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<button ng-click="goToState('products')" class="btn btn-primary cta-btn" type="button">View Products</button>
				<button ng-click="goToState('contact')" class="btn btn-primary cta-btn" type="button">Contact Us</button>
			</div>
		</div>
	</div>
	
</section>
